body, html, #root {
    height: 100%;
    overflow: hidden;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* HEADERS AND FOOTERS */
.header-default {
    height: 56px;
}

.header-default .container,
.header-default .container .in {
    height: inherit;
}

.header-default.landpage {
    background-color: #273539;
}

.header-default.landpage .menu .menu-item {
    margin-left: 15px;
}

.footer-default {
    height: 100px;
}

/* PAGES */
.page {
    height: 100%;
    overflow: auto;
}

/* PAGES - HOME */
.page-home {
    background: #182123;
}

.page-home .title {
    color: #12CCE4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -2x;
}

.page-home .caption {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
}

.page-home .block-2 .box-brand {
    background-color: #273539;
    padding: 40px 30px;
}

.page-home .block-2 .bg-brand {
    position: relative;
    width: 390px;
}

.page-home .block-2 .title-over {
    color: #FF6B00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -2x;
    position: absolute;
    top: 88px;
    left: 35px;
}

.page-home .block-2 .adjust {
    padding: 0 30px;
}

.page-home .block-3 .box-info {
    width: 294px;
}

.page-home .block-3 .box-info .title-links {
    color: #ED1E79;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -2x;
}

.page-home .block-3 .box-info .title-jobs {
    color: #12CCE4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -2x;
}

.page-home .block-3 .box-img {
    text-align: center;
}

.page-home .block-3 .box-register .title-register {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -2px;
}

.page-home .block-4 .box-img {
    margin: 0 28px;
}

.page-home .block-4 .infos {
    margin: 0 28px;
}

.page-home .block-5 .brands-title {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 48px;
}

.page-home .block-5 .brands-title .c1 {
    color: #ED1E79 !important;
}

.page-account-login {
    background-image: url(/public/assets/img/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-account-login .box-central {
    background: #273539;
    width: 360px;
}

.page-account-login .box-central .in {
    padding: 24px;
}

.page-account-login .box-central .logo {
    height: 155px;
}

.page-account-login .box-central .line-sep {
    height: 1px;
}

/* HELPERS */
.mt-6 {
    margin-top: 60px;
}

.mb-6 {
    margin-bottom: 60px;
}

/* TYPE FAMILY */
h1 {
    font-size: 74px;
    line-height: 74px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin: 0;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: -0.5px;
    margin: 0;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.25px;
    margin: 0;
}

h5,
.h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
}

h6,
.h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
}

input[type=text],
input[type=email],
input[type=password] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    box-shadow: none !important;
}

input[type=text].with-label,
input[type=email].with-label,
input[type=password].with-label {
    background: #0E181A;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #CCCCCC;
}

.menu-item:hover {
    color: #3CE9FF;
    text-decoration: none;
}

/* COLORS */
.text-blueberry-l2 {
    color: #3CE9FF;
}

a.text-blueberry-l2:hover {
    text-decoration: none;
    color: #3CE9FF;
}

.text-grad-hot-pink {
    background: linear-gradient(90deg, rgba(255, 107, 0, 1) 0%, rgba(237, 30, 121, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-pitaya {
    color: #ED1E79;
}

a.text-pitaya:hover {
    text-decoration: underline;
    color: #ED1E79;
}

.text-gray-20 {
    color: #CCCCCC;
}

.text-gray-20:hover {
    text-decoration: underline;
    color: #CCCCCC;
}

.text-gray-30 {
    color: #B5B5B5;
}

.text-gray-30:hover {
    text-decoration: underline;
    color: #B5B5B5;
}

.bg-steelo-l2 {
    background-color: #5D818D;
}

.bg-steelo-l1 {
    background-color: #273539;
}

.bg-steelo-m2 {
    background-color: #0E181A;
}

.bg-gray-20 {
    background-color: #CCCCCC;
}

/* BUTTONS */
.btn {
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    padding: 0 20px;
    border: none;
    display: inline-block;
    line-height: 40px;
}

.btn.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.with-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn.btn-a {
    background-color: #20DEF6;
    color: #0E181A;

}

.btn.btn-a:hover {
    background-color: #12CCE4;
}

.btn.btn-a:focus {
    background-color: #12CCE4;
}

.btn.btn-a:active {
    background-color: #07C0D8;
}

.btn.btn-a:visited {
    background-color: #07C0D8;
}

.btn.btn-grad-a {
    background: rgb(255, 107, 0);
    background: linear-gradient(90deg, rgba(255, 107, 0, 1) 0%, rgba(237, 30, 121, 1) 100%);
    color: #fff;
}

@media screen and (max-width: 991px) {
    .page-home .block-3 .box-img {
        margin: 60px 0 0 0;
        padding: 0 0 0 0;
        text-align: right;
    }

    .page-home .block-3 .box-register {
        margin: 60px 28px 0 28px;
    }

    .page-home .block-5 .box-img {
        margin-top: 30px;
    }

    .page-home .block-5 .box-register {
        margin-top: 50px;
    }
}