body, html, #root {
    height: 100%;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* HEADERS */
.header-default {
    height: 56px;
}
.header-default .container,
.header-default .container .in {
    height: inherit;
}

.header-default.landpage {
    background-color: #273539;
}
.header-default.landpage .menu .menu-item {
    margin-left: 30px;
}

/* PAGES */
.page {
    height: 100%;
}
.page-home {
    background: #182123;
}

/* TYPE FAMILY */
h1 {
    font-size: 74px;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #CCCCCC;
}
.menu-item:hover {
    color: #3CE9FF;
    text-decoration: none;
}

/* BUTTONS */
.btn {
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    padding: 0 20px;
    border: none;
}

.btn.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.with-shadow {
    /* TODO: retirar depois o border */
    border: none;
}

.btn.btn-a {
    background-color: #20DEF6;
    color: #0E181A;
    
}

.btn.btn-a:hover {
    background-color: #12CCE4;
}

.btn.btn-a:focus {
    background-color: #12CCE4;
}

.btn.btn-a:active {
    background-color: #07C0D8;
}

.btn.btn-a:visited {
    background-color: #07C0D8;
}