* {
    font-size: 14px;
    color: rgb(86, 100, 112);
}

html {
    height: 100%;
}

.body-out {
    height: 100%;
    font-family: 'Montserrat';
    background-color: #FFFFFF;
}

form {
    padding: 0;
    margin: 0;
}

input,
select,
textarea {
    font-weight: 500 !important;
}

button {
    font-weight: 500 !important;
}



.custom-loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    filter: alpha(opacity=60);
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8000;
}

.custom-loader {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    background-color: #fff;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 8001;
    overflow: auto;
}