body,
html,
#root {
    height  : 100%;
    overflow: hidden;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* HEADERS AND FOOTERS */
.header-default {
    height: 56px;
}

.header-default .container,
.header-default .container .in {
    height: inherit;
}

.header-default.landpage {
    background-color: #273539;
}

.header-default.landpage .menu .menu-item {
    margin-left: 15px;
}

.header-default.logged {
    background-color  : #273539;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow        : 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-default.logged .logo {
    width: 25%;
}

.header-default.logged .search {
    width: 50%;
}

.header-default.logged .search input {
    font-family     : 'Roboto', sans-serif;
    font-weight     : 300;
    font-size       : 16px;
    color           : #ccc;
    letter-spacing  : 0.5px;
    border          : none;
    outline         : none;
    background-color: #42585F;
}

.header-default.logged .search .input-icon svg {
    color : #ccc;
    cursor: pointer;
}

.header-default.logged .search input:focus {
    outline         : none;
    box-shadow      : none !important;
    background-color: #42585F;
}

.header-default.logged .search input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family   : 'Roboto', sans-serif;
    font-weight   : 300;
    font-size     : 16px;
    color         : #ccc;
    letter-spacing: 0.5px;
    opacity       : 1;
    /* Firefox */
}

.header-default.logged .search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family   : 'Roboto', sans-serif;
    font-weight   : 300;
    font-size     : 16px;
    color         : #ccc;
    letter-spacing: 0.5px;
}

.header-default.logged .search input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family   : 'Roboto', sans-serif;
    font-weight   : 300;
    font-size     : 16px;
    color         : #ccc;
    letter-spacing: 0.5px;
}

.header-default.logged .menu {
    width: 25%;
}

.header-default.logged .menu .menu-item {
    color      : #ccc;
    margin-left: 20px;
}

.header-default.logged .menu .profile {
    margin-left: 20px;
    cursor     : pointer;
}

.header-default.logged .menu .profile img {
    height : 32px;
    opacity: 0.6;
}

.header-default.logged .menu .profile svg {
    color: #ccc;
}


.footer-default {
    height: 100px;
}

/* PAGES */
.page {
    height  : 100%;
    overflow: auto;
}

/* PAGES - HOME */
.page-home {
    background: #182123;
}

.page-home .title {
    color         : #12CCE4;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 48px;
    line-height   : 48px;
    font-weight   : 400;
    letter-spacing: -2x;
}

.page-home .caption {
    font-family   : 'Roboto', sans-serif;
    font-size     : 16px;
    line-height   : 25px;
    color         : #FFFFFF;
    letter-spacing: -0.5px;
}

.page-home .block-2 .box-brand {
    background-color: #273539;
    padding         : 40px 30px;
}

.page-home .block-2 .bg-brand {
    position: relative;
    width   : 390px;
}

.page-home .block-2 .title-over {
    color         : #FF6B00;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 38px;
    line-height   : 38px;
    font-weight   : 400;
    letter-spacing: -2x;
    position      : absolute;
    top           : 88px;
    left          : 35px;
}

.page-home .block-2 .adjust {
    padding: 0 30px;
}

.page-home .block-3 .box-info {
    width: 294px;
}

.page-home .block-3 .box-info .title-links {
    color         : #ED1E79;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 40px;
    line-height   : 38px;
    font-weight   : 400;
    letter-spacing: -2x;
}

.page-home .block-3 .box-info .title-jobs {
    color         : #12CCE4;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 40px;
    line-height   : 38px;
    font-weight   : 400;
    letter-spacing: -2x;
}

.page-home .block-3 .box-img {
    text-align: center;
}

.page-home .block-3 .box-register .title-register {
    color         : #fff;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 48px;
    line-height   : 48px;
    font-weight   : 400;
    letter-spacing: -2px;
}

.page-home .block-4 .box-img {
    margin: 0 28px;
}

.page-home .block-4 .infos {
    margin: 0 28px;
}

.page-home .block-5 .brands-title {
    color         : #fff;
    font-family   : 'Roboto Condensed', sans-serif;
    font-size     : 38px;
    line-height   : 38px;
    font-weight   : 400;
    letter-spacing: -2px;
    margin        : 0 48px;
}

.page-home .block-5 .brands-title .c1 {
    color: #ED1E79 !important;
}

.page-account-login,
.page-register {
    background-image : url(/public/assets/img/bg-login.png);
    background-repeat: no-repeat;
    background-size  : 100% auto;
}

.page-account-login .box-central,
.page-register .box-central {
    background: #273539;
    width     : 360px;
}

.page-account-login .box-central .in,
.page-register .box-central .in {
    padding: 24px;
}

.page-account-login .box-central .logo,
.page-register .box-central .logo {
    height: 155px;
}

.page-account-login .box-central .line-sep {
    height: 1px;
}

.page-creator-profile {
    background-color: #1E1E1E;
}


/* HELPERS */
.mt-6 {
    margin-top: 60px;
}

.mb-6 {
    margin-bottom: 60px;
}

/* LAYOUT */
.card-custom {
    -webkit-box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow           : 0px 4px 4px rgba(0, 0, 0, 0.2);
    background           : #273539;
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    border-radius        : 8px;
}

.card-custom .profile .photo {
    position             : relative;
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    border-radius        : 8px;
    min-height           : 180px;
}

.card-custom .profile .photo .main {
    position             : absolute;
    width                : 120px;
    top                  : 25%;
    left                 : 50%;
    margin-left          : -60px;
    filter               : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-border-radius: 60px;
    -moz-border-radius   : 60px;
    border-radius        : 60px;
}

.card-custom .profile .name {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 700;
    font-size     : 20px;
    line-height   : 23px;
    text-align    : center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.card-custom .profile .followers {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 700;
    font-size  : 12px;
    line-height: 14px;
}

.card-custom .profile .category {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 700;
    font-size  : 12px;
    line-height: 14px;
}

.card-custom .profile .category2 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 700;
    font-size     : 10px;
    line-height   : 12px;
    letter-spacing: 0.5px;
}

.card-custom .profile .sep {
    height: 2px;
    background-color: #182123;
}

.card-custom .profile .scores .scores-item a,
.card-custom .profile .scores .scores-item b {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

/* TYPE FAMILY */
h1 {
    font-size     : 74px;
    line-height   : 74px;
    font-family   : 'Roboto Condensed', sans-serif;
    font-weight   : 500;
    letter-spacing: -1.5px;
    margin        : 0;
}

h2 {
    font-family   : 'Roboto Condensed', sans-serif;
    font-weight   : 500;
    font-size     : 45px;
    line-height   : 35px;
    letter-spacing: -0.5px;
    margin        : 0;
}

h4 {
    font-family   : 'Roboto Condensed', sans-serif;
    font-weight   : 700;
    font-size     : 26px;
    line-height   : 26px;
    letter-spacing: 0.25px;
    margin        : 0;
}

h5,
.h5 {
    font-family   : 'Roboto Condensed', sans-serif;
    font-weight   : 400;
    font-size     : 18px;
    line-height   : 18px;
    letter-spacing: 0px;
    margin        : 0;
}

h6,
.h6 {
    font-family   : 'Roboto Condensed', sans-serif;
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 18px;
    letter-spacing: 0px;
    margin        : 0;
}

a {
    font-family   : 'Roboto', sans-serif;
    font-weight   : 500;
    font-size     : 14px;
    letter-spacing: 0px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search] {
    font-family   : 'Roboto', sans-serif;
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: 0.5px;
    border        : none;
    outline       : none;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus {
    outline         : none;
    box-shadow      : none !important;
    background-color: #0E181A;
}

input[type=text].with-label,
input[type=email].with-label,
input[type=password].with-label,
input[type=search].with-label {
    background-color: #0E181A;
}

.input-icon {
    position: relative;
}

.input-icon svg {
    position  : absolute;
    top       : 50%;
    right     : 10px;
    margin-top: -10px;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-size  : 14px;
    color      : #CCCCCC;
}

.menu-item:hover {
    color          : #3CE9FF;
    text-decoration: none;
}

/* COLORS */
.text-blueberry-l2 {
    color: #3CE9FF;
}

a.text-blueberry-l2:hover {
    text-decoration: none;
    color          : #3CE9FF;
}

.text-blueberry {
    color: #12CCE4;
}

a.text-blueberry:hover {
    text-decoration: none;
    color          : #12CCE4;
}

.text-steelo-l2 {
    color: #5D818D;
}

a.text-steelo-l2:hover {
    text-decoration: none;
    color          : #5D818D;
}

.text-grad-hot-pink {
    background             : linear-gradient(90deg, rgba(255, 107, 0, 1) 0%, rgba(237, 30, 121, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-pitaya {
    color: #ED1E79;
}

a.text-pitaya:hover {
    text-decoration: underline;
    color          : #ED1E79;
}

.text-gray-20 {
    color: #CCCCCC;
}

a.text-gray-20:hover {
    text-decoration: underline;
    color          : #CCCCCC;
}

.text-gray-30 {
    color: #B5B5B5;
}

a.text-gray-30:hover {
    text-decoration: underline;
    color          : #B5B5B5;
}

.bg-steelo-l2 {
    background-color: #5D818D;
}

.bg-steelo-l1 {
    background-color: #273539;
}

.bg-steelo-m2 {
    background-color: #0E181A;
}

.bg-steelo {
    background-color: #273539;
}

.bg-gray-20 {
    background-color: #CCCCCC;
}

/* BUTTONS */
.btn {
    height               : 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    border-radius        : 20px;
    font-family          : 'Roboto', sans-serif;
    font-weight          : 500;
    font-size            : 14px;
    letter-spacing       : 0px;
    padding              : 0 20px;
    border               : none;
    display              : inline-block;
    line-height          : 40px;
}

.btn.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
}

.btn.with-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow   : 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow        : 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn.btn-a {
    background-color: #20DEF6;
    color           : #0E181A;

}

.btn.btn-a:hover {
    background-color: #12CCE4;
}

.btn.btn-a:focus {
    background-color: #12CCE4;
}

.btn.btn-a:active {
    background-color: #07C0D8;
}

.btn.btn-a:visited {
    background-color: #07C0D8;
}

.btn.btn-grad-a {
    background: rgb(255, 107, 0);
    background: linear-gradient(90deg, rgba(255, 107, 0, 1) 0%, rgba(237, 30, 121, 1) 100%);
    color     : #fff;
}

@media screen and (max-width: 991px) {

    .page-account-login,
    .page-register {
        background-size: auto 100%;
    }

    .page-home .block-3 .box-img {
        margin    : 60px 0 0 0;
        padding   : 0 0 0 0;
        text-align: right;
    }

    .page-home .block-3 .box-register {
        margin: 60px 28px 0 28px;
    }

    .page-home .block-5 .box-img {
        margin-top: 30px;
    }

    .page-home .block-5 .box-register {
        margin-top: 50px;
    }
}