* {
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: rgb(86, 100, 112);
}

.body-in {
    height: 100%;
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #F3F3F3;
}

form {
    padding: 0;
    margin: 0;
}

input,
select,
textarea {
    font-weight: 500 !important;
}

button {
    font-weight: 500 !important;
}

.btn-primary i,
.btn-secondary i,
.btn-success i,
.btn-danger i,
.btn-info i,
.btn-warning i {
    color: #fff !important;
}

.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-info,
.btn-warning {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 13px;
}

header {
    position: fixed;
    background-color: #127e9f;
    border: none;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.13);
    -moz-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.13);
    box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.13);
    margin: 0;
    width: 100%;
    z-index: 110;
    padding: 0 20px;
    height: 65px;
}

header .logo img {
    max-height: 57px;
}

header .shortcut {
    height: 100%;
}

header .shortcut:hover,
header .shortcut:hover i,
header .shortcut:hover span {
    text-decoration: none !important;
    color: #000;
    background: #F3F3F3;
}

header .shortcut.active i,
header .shortcut.active span {
    color: #000;
}

header .shortcut span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    color: #9E9E9E;
}

header .shortcut i {
    font-size: 26px;
    color: #9E9E9E;
}

header .options {
    height: 100%;
}

header .options .menu-item a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px 10px 0;
    font-size: 11px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #9E9E9E;
}

header .options .menu-item a:hover {
    text-decoration: none;
    color: #000;
}

header .options i {
    color: #f2f2f2;
}

header .options .user {
    position: relative;
    cursor: pointer;
    height: 100%;
}

header .options .user:hover>.user-f {
    display: block !important;
}

header .options .user .user-f {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    /* width: 180px; */
    background-color: #FFF;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

header .options .user .user-f .user-f-h {
    height: 65px;
    padding: 0 20px;
}

header .options .user .user-f .user-f-photo img {
    height: 50px;
    width: auto;
}

header .options .user .user-f .user-f-menu {
    height: 40px;
}

header .options .user .user-f .user-f-menu .user-f-menu-item {
    padding: 0 20px;
    color: #868181;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

header .options .user .user-f .user-f-menu .user-f-menu-item:hover {
    text-decoration: none;
    font-weight: bold;
}

header .options .user .user-f .user-f-menu.out {
    border-top: 1px solid #e5e5e5;
}

header .options .user .user-f .user-f-name {
    padding-right: 14px;
}

header .options .user:hover {
    background: #F3F3F3;
}

header .options .user .photo {
    height: 50px;
    width: auto;
}

header .options .notification {
    position: relative;
    cursor: pointer;
    height: 100%;
}

header .options .notification:hover {
    background: #F3F3F3;
}

header .options .notification:hover i {
    color: #999;
}

header .sep {
    height: 100%;
    width: 1px;
    background: #F3F3F3;
}

.menu-desktop {
    position: fixed;
    top: 65px;
    width: 200px;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 110;
    overflow: auto;
    padding-bottom: 40px;
}

.menu-desktop ul {
    margin: 25px 0 0 0;
    padding: 0;
    display: block;
    list-style: none;
}

.menu-desktop ul li {
    position: relative;
}

.menu-desktop ul li.active a,
.menu-desktop ul li.active a i {
    color: #000;
}

.menu-desktop ul li.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #212121;
}

.menu-desktop ul li a {
    display: block;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0 5px 20px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #757575;
}

.menu-desktop ul li a:hover,
.menu-desktop ul li a:hover i {
    color: #000;
    text-decoration: none;
}

.menu-desktop ul li a i {
    display: inline-block;
    width: 25px;
    text-align: left;
}

.main {
    padding: 90px 25px 40px 225px;
}

.main .sub-menu {
    height: 63px;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
}

.main .sub-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.main .sub-menu ul li,
.main .sub-menu ul li a {
    height: 100%;
    white-space: nowrap;
}

.main .sub-menu ul li a {
    padding: 0 30px;
    position: relative;
}

.main .sub-menu ul li a span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #9E9E9E;
}

.main .sub-menu ul li a i {
    color: #9E9E9E;
}

.main .sub-menu ul li:hover a,
.main .sub-menu ul li:hover a span,
.main .sub-menu ul li:hover a i {
    text-decoration: none;
    color: #212121;
}

.main .sub-menu ul li a:after {
    display: block;
    content: '';
    position: absolute;
    height: 4px;
    width: 0;
    bottom: -1px;
    left: 50%;
    right: 0;
    opacity: 0;
    background: #E0E0E0;
    transition: opacity 0.4s, left 0.4s, width 0.4s;
}

.main .sub-menu ul li:hover a:after {
    opacity: 1;
    width: 100%;
    left: 0;
}

.main .sub-menu ul li.active a span,
.main .sub-menu ul li.active a i {
    color: #212121;
}

.main .sub-menu ul li.active a:after {
    width: 100%;
    opacity: 1;
    background: #212121;
    left: 0;
}

.main .page-tab {
    height: 43px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #fff;
}

.main .page-tab ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    border-bottom: 1px solid #fff;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.main .page-tab ul li,
.main .page-tab ul li a {
    display: block;
    height: 100%;
}

.main .page-tab ul li a:hover,
.main .page-tab ul li a:hover i,
.main .page-tab ul li a:hover span {
    text-decoration: none;
    color: #212121;
}

.main .page-tab ul li a i,
.main .page-tab ul li a span {
    color: #9E9E9E;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}

.main .page-tab ul li.active a i,
.main .page-tab ul li.active a span {
    color: #212121;
}

.card-custom {
    border: none !important;
    background: #fff !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.13) !important;
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.13) !important;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.13) !important;
}

.main .box-search .input-search {
    width: 250px;
}

.main .box-search .input-search .form-control {
    height: 38px !important;
    font-size: 12px !important;
    line-height: 20px !important;
    border-radius: 4px 0 0 4px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    color: #555 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.main .box-search .input-search .form-control::placeholder {
    color: #ccc !important;
}

.list .list-item {
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.list .list-item .title {
    background-color: #F8F8F8;
    border-radius: 5px 5px 0 0;
    padding: 15px 15px;
}

.list .list-item .title a {
    font-size: 14px;
    text-transform: uppercase;
    color: #0091EA;
    font-weight: 600;
    text-rendering: optimizelegibility;
}

.list .list-item .title a:hover {
    text-decoration: none;
    color: #005FB2;
}

.list .list-item .description {
    padding: 15px;
}

.list .list-item:hover {
    border: 1px solid #999;
}

.list .list-item .sub-title {
    color: #666 !important;
    font-weight: 300;
    font-size: 13px;
}

.list .list-item .btn-list {
    text-align: left !important;
}

.list .list-item .btn-list i {
    display: inline-block;
    width: 18px;
}

.main .title-form {
    color: #9E9E9E;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin: 0 0 20px;
}

.main .form-btn {
    border-top: 1px solid rgba(117, 126, 139, 0.2);
}

header.header-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 0 2px rgba(50, 50, 50, 0.13);
    -moz-box-shadow: 0px 1px 0 2px rgba(50, 50, 50, 0.13);
    box-shadow: 0px 1px 0 2px rgba(50, 50, 50, 0.13);
    padding: 0 !important;
    border-top: 1px solid rgba(50, 50, 50, 0.13);
}

header.header-mobile .photo,
header.header-mobile .shortcuts,
header.header-mobile .menu-mobile {
    flex: 1;
}

header.header-mobile .photo img {
    height: 35px;
}

header.header-mobile .photo .header-mobile-user .name,
header.header-mobile .photo .header-mobile-user .code {
    font-size: 11px;
    font-weight: 300;
}

header.header-mobile .line-sep {
    width: 2px;
    background: #f3f3f3;
    height: 100%;
}

header.header-mobile .shortcuts,
header.header-mobile .menu-mobile {
    font-size: 11px;
    font-weight: 700;
    color: #000;
}

header.header-mobile .shortcuts:hover,
header.header-mobile .menu-mobile:hover {
    text-decoration: none;
}

.space-bottom-mobile {
    height: 65px;
    display: none;
}

header.header-mobile .menu-mobile .menu-mobile-hide {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 65px;
    height: 0;
    display: block;
    background: #fff;
    overflow: auto;
    transition: height 0.4s;
    border-top: 2px solid rgba(50, 50, 50, 0.13);
}

header.header-mobile .menu-mobile:hover>.menu-mobile-hide {
    height: 60%;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li {
    position: relative;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li.active a,
header.header-mobile .menu-mobile .menu-mobile-hide ul li.active a i {
    color: #000;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #212121;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li a {
    display: block;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0 5px 20px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #757575;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li a:hover,
header.header-mobile .menu-mobile .menu-mobile-hide ul li a:hover i {
    color: #000;
    text-decoration: none;
}

header.header-mobile .menu-mobile .menu-mobile-hide ul li a i {
    display: inline-block;
    width: 25px;
    text-align: left;
}

header.header-mobile .shortcuts {
    position: relative;
}

header.header-mobile .shortcuts .shortcuts-mobile-hide {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 65px;
    height: 0;
    display: block;
    background: #fff;
    overflow: auto;
    transition: height 0.4s;
    border-top: 2px solid rgba(50, 50, 50, 0.13);
}

header.header-mobile .shortcuts:hover>.shortcuts-mobile-hide {
    height: 60%;
}

header.header-mobile .shortcuts .shortcuts-mobile-hide a {
    height: 80px;
    font-size: 11px;
    font-weight: 500;
    color: #000;
}

header.header-mobile .shortcuts .shortcuts-mobile-hide a:hover {
    text-decoration: none;
    background: #f3f3f3;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.product-img .banner {
    max-width: 150px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
}

.product-img .banner:first-child {
    margin-left: 0;
}

.product-img .banner img {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.banner .delete-img,
.banner .no-img {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    transition: 400ms;
}

.banner .no-img {
    border-style: dashed;
    background-color: rgb(248, 248, 248);
}

.banner .delete-img {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
}

.banner .delete-img i {
    color: transparent;
    transition: 400ms;
}

.banner .no-img i {
    color: rgb(200, 200, 200);
    transition: 400ms;
}

.banner .delete-img:hover {
    text-decoration: none;
    background-color: rgba(250, 250, 250, 0.856);
}

.banner .delete-img:hover i {
    color: rgb(252, 84, 84);
}

.banner .no-img:hover {
    text-decoration: none;
    background-color: rgba(226, 226, 226, 0.856);
}

.banner .no-img:hover i {
    color: #919191;
}

.product-img .favorite {
    margin-top: 5px;
    white-space: nowrap;
}

.product-img .favorite i {
    color: rgb(255, 217, 0);
}

label.required::after {
    content: '*';
    color: #990000;
}

.custom-loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    filter: alpha(opacity=60);
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8000;
}

.custom-loader {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    background-color: #fff;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 8001;
    overflow: auto;
}

@media (max-width: 767px) {

    .header-desktop,
    .menu-desktop {
        display: none !important;
    }

    .list .list-item .title,
    .list .list-item .title a,
    .list .list-item .title span {
        display: block !important;
        margin: 0 !important;
    }

    .list .list-item .content {
        display: block !important;
    }

    .space-bottom-mobile {
        display: block !important;
    }

    header.header-mobile {
        display: block !important;
    }

    .main {
        padding: 20px;
    }
}